// * {
//   box-sizing: border-box;
// }

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: url(/src/images/mainnet-fbad3338fed984017713102896a426df.png);
}

// h1 {
//   font-size: 3.2em;
//   line-height: 1.1;
// }
.fillClass {
  color: #f9f9f9;
  font-weight: 900;
  font-size: 20px;
  text-transform: uppercase;
}

.finishedList {
  color: #f9f9f9;
  border-bottom: 1px solid #242424;
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
}

.unFinishedList {
  color: #f9f9f9;
  border-bottom: 1px solid #242424;
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  border: 1px solid #1a1919;
  border-radius: 10px;
  background-color: #151515;
  box-shadow: 5px 9px 8px #0e0e0e;
  opacity: 80%;

//     &:hover {
//   box-shadow: 0 0 5px #dac687, 0 0 5px #dac687;
//   transition: 1.5s;
// }
}

img {
  width: 300px;
  border-bottom: 1px solid #f1e0a5;
}


section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.formContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
  margin-top: 15px;
}

.inputClass {
  // width: 50%;
  padding-bottom: 10px;
  background-color: #202020;
  border: 1px solid #242424;
  // border-bottom: 1px solid #f1e0a5;
}

.buttonClass {
  width: 60px;
  padding: 0.4rem;
  border-radius: 5px;
  background-color: #202020;
  border: 1px solid #242424;

  
  &:hover {
    background-color: #1a1919;
    color: #f1e0a5;
    text-shadow: 0 0 5px #dac687;;
    // transition: 0.2s;
    // text-shadow: 0 0 5px #dac687, 0 0 25px #dac687, 0 0 50px #dac687, 0 0 100px #dac687;
    // transition: 0.5s;
  }
}

.todo {
  width: 35%;
  border: 1px solid #242424;
  padding: 1rem;
  border-radius: 15px;
  background-color: #19191a;
  cursor: pointer;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  box-shadow: 3px 3px 7px #0e0e0e;

  &:hover {
    background-color: #1a1919;
    color: #f1e0a5;
  text-shadow: 0 0 5px #dac687, 0 0 25px #dac687;
  transition: 0.2s;

  box-shadow: 0 0 5px #dac687, 0 0 25px #dac687, 0 0 50px #dac687, 0 0 100px #dac687;
  transition: 0.5s;
  }
}

.flex1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.flex2 {
  display: flex;
  gap: 1em;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


// 280px Mobile View (I chose this due to the smaller screen such as the Galaxy Fold only has 280x653 in aspects ratio). If it's gonna be mobile friendly then let's include everyone! :)
@media (min-width: 280px) {
  .todo {
    width: 20%;
    border: 1px solid #242424;
    padding: 2rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 15px;
    background-color: #19191a;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 7px #0e0e0e;

    &:hover {
      background-color: #1a1919;
      color: #f1e0a5;
      text-shadow: 0 0 5px #dac687, 0 0 25px #dac687;
      transition: 0.2s;
  
      box-shadow: 0 0 5px #dac687, 0 0 25px #dac687, 0 0 50px #dac687, 0 0 100px #dac687;
      transition: 0.5s;
    }
  }
}


// Desktop view 1200px min
@media (min-width: 1200px) {
  .todo {
    width: 15%;
    height: 3.8rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.6em;
    border: 1px solid #242424;
    padding: 2rem;
    border-radius: 15px;
    background-color: #19191a;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 7px #0e0e0e;

    &:hover {
      background-color: #1a1919;
      color: #f1e0a5;
    text-shadow: 0 0 5px #dac687, 0 0 25px #dac687;
    transition: 0.2s;
  
    box-shadow: 0 0 5px #dac687, 0 0 25px #dac687, 0 0 50px #dac687, 0 0 100px #dac687;
    transition: 0.5s;
    }
  }
}