

/*Colors*/
$primary-font-color: #f9f9f9;
$primary-underline-color: #242424;
$box-bg-color: #202020;
$box-bg-hovered: #1a1919;
$app-primary: #151515;
$primary-box-color: #19191a;
$glow-hover-color: #f1e0a5;
$primary-glow-hover: #dac687;


/*Fonts*/
$primary-weight: 900;
$secondary-weight: 500;
$xs-weight: 400;
$font-primary-size: 20px;
$font-secondary-size: 0.8em; 

/*Breakpoints*/
$mobile: 280px;
$desktop: 1200px;